<img src="../assets/imagenes/fon_form.png" alt="" class="fondo">
<form [formGroup]="myForm" (ngSubmit)="submitFormulario()">
    <div *ngIf="experienciaForm != null" class="contenedor">
        <div class="perfil">
            <h2>Agregar Experiencia</h2>
            <div class="inputBox" id="nombreEmpresa">
                <span class="title">Nombre de Empresa</span>
                <input type="text" formControlName="nombreEmpresa"  [class.is-invalid]="f.nombreEmpresa.errors && f.nombreEmpresa.touched" placeholder="Nombre de Empresa">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Nombre Obligatorio!
                </div>
            </div>
            <div class="inputBox" id="tipoTrabajo">
                <span class="title">Tipo de Trabajo</span>
                <input type="text" formControlName="tipoTrabajo"  [class.is-invalid]="f.tipoTrabajo.errors && f.tipoTrabajo.touched" placeholder="Tipo de Trabajo">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Tipo de trabajo Obligatorio!
                </div>
            </div>
            <div class="inputBox" id="finic"> 
                <span class="title">Fecha de Inicio</span>
                <input type="date" formControlName="finic" [class.is-invalid]="f.finic.errors && f.finic.touched" placeholder="Fecha de Inicio">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Fecha Obligatoria!
                </div>
            </div>  
            <div class="inputBox" id="ffin"> 
                <span class="title">Fecha de Finalizacion</span>
                <input type="date" formControlName="ffin" [class.is-invalid]="f.ffin.errors && f.ffin.touched" placeholder="Fecha de Finalizacion">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Fecha Obligatoria!
                </div>
            </div>
            <div class="inputBox" id="url">
                <span class="title">Url del Logotipo</span>
                <input type="text" formControlName="url"  [class.is-invalid]="f.url.errors && f.url.touched" placeholder="Url del logotipo">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Url obligatoria
                </div>
            </div>
            <div class="inputBox" id="urlFondo">
                <span class="title">Url de Fondo</span>
                <input type="text" formControlName="urlFondo"  [class.is-invalid]="f.urlFondo.errors && f.urlFondo.touched" placeholder="Url del Fondo">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Url obligatoria
                </div>
            </div>
            <div class="inputBox" id="linkProyecto">
                <span class="title">Link del Proyecto</span>
                <input type="text" formControlName="linkProyecto"  [class.is-invalid]="f.linkProyecto.errors && f.linkProyecto.touched" placeholder="Link del proyecto">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Url obligatoria
                </div>
            </div>
            <div class="textBox" id="descripcion">
                <span class="title">Descripcion</span>
                <textarea formControlName="descripcion" [class.is-invalid]="f.descripcion.errors && f.descripcion.touched" placeholder="Descripcion"></textarea>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Descripcion Obligatoria!
                </div>
            </div>
            <div class="inputBox b" id="btn">
                <input (click)="Agregar(experienciamod)" type="submit" value="Enviar">
            </div>
            
        </div>
    </div>
</form>
