<div class="contenedor">
    <div class="titulo">
        Skills Hard & Soft
    </div>

    <div class="graficas-contenedor">

        <div class="exterior">
            <div class="interior">
                <div class="logotipo">
                    <img src="../assets/imagenes/logohtml.png" alt="" class="logo" id="html">
                </div>
                <div id="numero">
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="fondo"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="circulo"/>
            </svg>
        </div>

        

        <div class="exterior1">
            <div class="interior1">
                <div class="logotipo">
                    <img src="../assets/imagenes/logocss.png" alt="" class="logo" id="css">
                </div>
                <div id="numero1">
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="fondo"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="circulo1" />
            </svg>
        </div>

        

        <div class="exterior2">
            <div class="interior2">
                <div class="logotipo">
                    <img src="../assets/imagenes/logojs.png" alt="" class="logo" id="js">
                </div>
                <div id="numero2">
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="fondo"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="circulo2" />
            </svg>
        </div>

        <div class="exterior3">
            <div class="interior3">
                <div class="logotipo">
                    <img src="../assets/imagenes/logosql.png" alt="" class="logo" id="sql">
                </div>
                <div id="numero3">
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="fondo"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="circulo3" />
            </svg>
        </div>

        <div class="exterior4">
            <div class="interior4">
                <div class="logotipo">
                    <img src="../assets/imagenes/logophp.png" alt="" class="logo" id="php">
                </div>
                <div id="numero4">
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="fondo"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="circulo4" />
            </svg>
        </div>

        

        <div class="exterior5">
            <div class="interior5">
                <div class="logotipo">
                    <img src="../assets/imagenes/logoangular.png" alt="" class="logo" id="angular">
                </div>
                <div id="numero5">
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="fondo"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="circulo5" />
            </svg>
        </div>

        <div class="exterior6">
            <div class="interior6">
                <div class="logotipo">
                    <img src="../assets/imagenes/logobootstrap.png" alt="" class="logo" id="bootstrap">
                </div>
                <div id="numero6">
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="fondo"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="circulo6" />
            </svg>
        </div>

        <div class="exterior7">
            <div class="interior7">
                <div class="logotipo">
                    <img src="../assets/imagenes/logonode.png" alt="" class="logo" id="node">
                </div>
                <div id="numero7">
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="fondo"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle cx="50%" cy="50%" r="6vw" stroke-linecap="round" class="circulo7" />
            </svg>
        </div>
    </div>
</div>